Repository lucianonooijen/genesis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_lint_app, test_lint_server, build_server

.gitlab/ci/app.yml:

##########################
# BASE CONFIG
##########################
.app_base: &app_base
  image: node:16-alpine
  before_script:
    - cd app
    - apk add git
    - yarn install --network-timeout 1000000
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - app/node_modules/
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
    - if: '$CI_COMMIT_BRANCH == "master"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - app/**/*
    - if: $CI_COMMIT_TAG
      when: never

##########################
# LINTING AND TEST STAGE
##########################
test_lint_app:
  <<: *app_base
  stage: test_lint
  script:
    - yarn run typecheck
    - yarn run lint
    - yarn run test:ci
  artifacts:
    reports:
      junit: app/junit.xml
      cobertura: app/coverage/cobertura-coverage.xml

.gitlab/ci/server.yml:

##########################
# BASE CONFIG
##########################
.server_base: &server_base
  image: golang:latest
  before_script:
    - cd server
    - make bootstrap
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
    - if: '$CI_COMMIT_BRANCH == "master"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - server/**/*
    - if: $CI_COMMIT_TAG
      when: never

##########################
# LINTING AND TEST STAGE
##########################
test_lint_server:
  <<: *server_base
  stage: test_lint
  script:
    - make ci
  artifacts:
    reports:
      junit: server/junit.xml
      cobertura: server/coverage/cobertura-coverage.xml
  needs: []

##########################
# BUILDING STAGE
##########################
build_server:
  <<: *server_base
  stage: build
  script:
    - make build
  needs: []

ci: add git for release base, add commit lint job
  .gitlab/ci/release.yml
Due: none

ci: change repo url from ssh to https for release package.json
  .gitlab/ci/release.yml
  package.json
Due: none

feat: add automated releases
  .gitlab/ci/release.yml
Due: none

release: 0.1.0
  CHANGELOG.md
Due: none

ci: add script for automatic version updates
  .releaserc.js
  app/android/app/build.gradle
  app/ios/genesis/Info.plist
  app/package.json
  bin/.gitkeep
  bin/update-version
  docs/commits.md
  package.json
  server/internal/constants/version.go
  yarn.lock
Due: test_lint_app, test_lint_server, build_server

fix: remove duplicate job name for ci
  .gitlab/ci/release.yml
Due: none

ci: add EAS release for app
  .gitlab/ci/release.yml
  app/android/app/_BUCK
  app/android/app/build.gradle
  app/android/app/src/debug/java/com/genesis/ReactNativeFlipper.java
  app/android/app/src/main/AndroidManifest.xml
  app/android/app/src/main/java/com/genesis/MainActivity.java
  app/android/app/src/main/java/com/genesis/MainApplication.java
  app/eas.json
  app/ios/genesis.xcodeproj/project.pbxproj
  app/ios/genesis.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  init/README.md
  init/prompt/values.go
Due: test_lint_app

ci: add server Docker build
  .gitlab/ci/release.yml
  docs/cicd.md
  docs/commits.md
  init/README.md
  init/prompt/values.go
  server/Dockerfile
Due: test_lint_server, build_server

release: 0.1.1
  CHANGELOG.md
Due: none

feat(app): implement push notification registration
  app/App.tsx
  app/__mocks__/@react-native-community/async-storage.js
  app/__mocks__/mockNavigation.ts
  app/__mocks__/mockPushNotifications.ts
  app/android/app/_BUCK
  app/android/app/build.gradle
  app/android/app/google-services.json
  app/android/app/src/debug/java/com/genesis/ReactNativeFlipper.java
  app/android/app/src/main/AndroidManifest.xml
  app/android/app/src/main/java/com/genesis/MainActivity.java
  app/android/app/src/main/java/com/genesis/MainApplication.java
  app/android/app/src/main/res/values/colors.xml
  app/android/build.gradle
  app/data/AppState/AppState.tsx
  app/data/api/api.ts
  app/data/asyncStorage/asyncStorage.ts
  app/data/pushNotifications/pushNotifications.ts
  app/ios/Podfile.lock
  app/ios/genesis.xcodeproj/project.pbxproj
  app/ios/genesis.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  app/ios/genesis/AppDelegate.h
  app/ios/genesis/AppDelegate.m
  app/ios/genesis/Info.plist
  app/ios/genesis/genesis.entitlements
  app/jest.config.js
  app/package.json
  app/packages/api/index.ts
  app/packages/api/internal/decoders.ts
  app/packages/api/internal/endpoints.ts
  app/packages/api/types/Notification.ts
  app/screens/Home/Home.tsx
  app/screens/LoginRegister/Login/Login.test.tsx
  app/screens/LoginRegister/LoginRegisterLanding/LoginRegisterLanding.test.tsx
  app/screens/LoginRegister/PasswordForgotComplete/PasswordForgotComplete.test.tsx
  app/screens/LoginRegister/PasswordForgotStart/PasswordForgotStart.test.tsx
  app/screens/LoginRegister/Register/Register.test.tsx
  app/screens/Tutorial/Tutorial.test.tsx
  app/yarn.lock
  server/.env.example
Due: test_lint_app, test_lint_server, build_server

docs(init): manual variable disclaimer
  init/README.md
Due: none

docs(init): setup of push notifications in Apple and Google services
  docs/pushnotifications.md
  init/README.md
Due: none

feat: add sending push notifications from back-end
  app/data/pushNotifications/pushNotifications.ts
  app/ios/Podfile.lock
  server/.env.example
  server/internal/data/database/push-notifications.sql.go
  server/internal/domains/user/push-notifcations.go
  server/sql/push-notifications.sql
Due: test_lint_app, test_lint_server, build_server

feat(app): add storybook
  app/App.tsx
  app/components/Buttons/ButtonRegular/ButtonRegular.styles.ts
  app/components/Buttons/ButtonRegular/ButtonRegular.tsx
  app/ios/Podfile.lock
  app/package.json
  app/storybook/addons.js
  app/storybook/index.js
  app/storybook/rn-addons.js
  app/storybook/stories/Buttons/Buttons.stories.tsx
  app/storybook/stories/index.js
  app/yarn.lock
Due: test_lint_app

feat(app): storybook
  app/App.tsx
  app/__mocks__/setupMock.js
  app/components/Buttons/ButtonRegular/ButtonRegular.tsx
  app/index.js
  app/index.jsx
  app/jest.config.js
  app/package.json
  app/storybook/index.js
  app/storybook/stories/Buttons/ButtonRegular.stories.tsx
  app/storybook/stories/index.js
  app/storybook/storyLoader.js
Due: test_lint_app

ci(docs): ignore any commits with Merge in them
  .commitlintrc.yaml
  commitlint.config.js
Due: none

feat(app): fatal error screen via AppState
  app/.eslintrc.js
  app/App.test.tsx
  app/App.tsx
  app/config.ts
  app/data/AppState/AppState.test.tsx
  app/data/AppState/AppState.tsx
  app/data/UserProfileState/UserProfileState.tsx
  app/data/api/api.ts
  app/data/asyncStorage/asyncStorage.ts
  app/data/asyncStorage/asyncStorage.types.ts
  app/data/pushNotifications/pushNotifications.ts
  app/package.json
  app/router/Router.tsx
  app/screens/FatalError/FatalError.components.ts
  app/screens/FatalError/FatalError.test.tsx
  app/screens/FatalError/FatalError.tsx
  app/screens/FatalError/FatalError.types.ts
  app/screens/Home/Home.tsx
Due: test_lint_app

feat(app): show "no-internet" screen when no internet connection is available
  app/App.tsx
  app/ios/Podfile.lock
  app/package.json
  app/yarn.lock
Due: test_lint_app

feat: verify client version on server and reject when the client is too old
  app/App.tsx
  app/__mocks__/@react-native-community/netinfo.js
  app/config.ts
  app/data/api/api.ts
  app/data/api/versioncheck.ts
  app/packages/api/index.ts
  app/packages/api/internal/endpoints.ts
  app/packages/api/internal/helpers.ts
  app/packages/api/types/Config.ts
  app/tsconfig.json
  app/types/AppConfig.ts
  server/go.mod
  server/go.sum
  server/internal/constants/version.go
  server/internal/server/middleware/auth.go
  server/internal/server/middleware/versioncheck.go
  server/internal/server/responses/codes.go
  server/internal/server/responses/responses.go
  server/internal/server/routes.go
  server/internal/server/server.go
Due: test_lint_app, test_lint_server, build_server

feat(app): input validation
  app/components/Input/TextInput/TextInput.styles.ts
  app/components/Input/TextInput/TextInput.test.tsx
  app/components/Input/TextInput/TextInput.tsx
  app/components/Input/TextInput/TextInput.types.ts
  app/components/Input/TextInput/TextInput.validation.ts
  app/screens/LoginRegister/Login/Login.tsx
  app/screens/LoginRegister/PasswordForgotComplete/PasswordForgotComplete.tsx
  app/screens/LoginRegister/PasswordForgotStart/PasswordForgotStart.tsx
  app/screens/LoginRegister/Register/Register.test.tsx
  app/screens/LoginRegister/Register/Register.tsx
Due: test_lint_app

feat(app): add Sentry
  app/android/app/build.gradle
  app/android/sentry.properties
  app/components/Input/TextInput/TextInput.styles.ts
  app/config.ts
  app/index.js
  app/ios/Podfile.lock
  app/ios/genesis.xcodeproj/project.pbxproj
  app/ios/sentry.properties
  app/package.json
  app/types/AppConfig.ts
  app/yarn.lock
  init/README.md
Due: test_lint_app

feat(app): analytics tracking setup
  app/App.tsx
  app/__mocks__/@sentry/react-native.js
  app/data/AppState/AppState.tsx
  app/data/analytics/analytics.ts
  app/data/pushNotifications/pushNotifications.ts
  app/screens/Account/Account.tsx
  app/screens/Home/Home.tsx
  app/screens/LoginRegister/Login/Login.tsx
  app/screens/LoginRegister/PasswordForgotComplete/PasswordForgotComplete.tsx
  app/screens/LoginRegister/PasswordForgotStart/PasswordForgotStart.tsx
  app/screens/LoginRegister/Register/Register.tsx
  app/screens/Tutorial/Tutorial.tsx
Due: test_lint_app

feat(server): error and http logging to Sentry
  server/go.mod
  server/go.sum
  server/internal/cmd/boot.go
  server/internal/server/middleware/auth.go
  server/internal/server/server.go
Due: test_lint_server, build_server

feat(server): add password uuid to jwts to invalidate jwts when password is changed
  server/internal/domains/user/jwt.go
  server/internal/domains/user/password-reset.go
  server/internal/infrastructure/jwt/audience.go
  server/internal/infrastructure/jwt/audience_test.go
  server/internal/infrastructure/jwt/jwt.go
  server/internal/infrastructure/jwt/jwt_test.go
Due: test_lint_server, build_server

feat(server): reverse proxy to canary server when client version is newer than server
  app/packages/api/internal/helpers.ts
  server/.env.example
  server/internal/constants/gin.go
  server/internal/infrastructure/config/config.go
  server/internal/server/checks.go
  server/internal/server/handlers/errors.go
  server/internal/server/handlers/handlers.go
  server/internal/server/handlers/helpers.go
  server/internal/server/middleware/canary-proxy.go
  server/internal/server/middleware/versioncheck.go
  server/internal/server/responses/responses.go
  server/internal/server/server.go
Due: test_lint_app, test_lint_server, build_server

feat(app): add user spying to amplitude
  app/App.tsx
  app/config.ts
  app/data/analytics/analytics.ts
  app/data/analytics/base64.ts
  app/data/analytics/init.ts
  app/data/asyncStorage/asyncStorage.ts
  app/ios/Podfile.lock
  app/package.json
  app/types/AppConfig.ts
  app/yarn.lock
Due: test_lint_app

style(server): make linter fail if code contains FIXME comments
  server/.golangci.yml
  server/internal/server/handlers/user-auth.go
Due: test_lint_server, build_server

fix(app): fix storybook in combination with async functions
  app/index.js
  app/index.jsx
Due: test_lint_app

style(app): add linting rules for .stories.* files
  app/.eslintrc.js
Due: test_lint_app

feat(server): auto generate API documentation and serve via Swagger
  init/README.md
  init/prompt/values.go
  server/.golangci.yml
  server/Makefile
  server/README.md
  server/bin/genswagger
  server/go.mod
  server/go.sum
  server/internal/server/handlers/password-reset.go
  server/internal/server/handlers/push-notifications.go
  server/internal/server/handlers/status.go
  server/internal/server/handlers/user-auth.go
  server/internal/server/handlers/user-profile.go
  server/internal/server/responses/errorbody.go
  server/internal/server/routes.go
  server/internal/server/server.go
  server/internal/server/swagger.go
  server/swagger/docs.go
  server/swagger/swagger.json
  server/swagger/swagger.yaml
Due: test_lint_server, build_server

refactor(server): use yaml and env variables for configuration
  server/.air.toml
  server/.env.example
  server/.gitignore
  server/Dockerfile
  server/Makefile
  server/README.md
  server/config.example.yml
  server/internal/cmd/root.go
  server/internal/infrastructure/config/config.go
Due: test_lint_server, build_server

build(server): remove sqreen
  server/.air.toml
  server/.gitignore
  server/Makefile
  server/README.md
  server/bin/build
  server/go.mod
  server/go.sum
  server/internal/server/server.go
  server/sqreen.yaml.example
Due: test_lint_server, build_server

refactor(server): remove reduntant verbose flag
  server/internal/cmd/boot.go
  server/internal/cmd/root.go
Due: test_lint_server, build_server

feat(server): embed migration files into server binary
  server/Dockerfile
  server/internal/cmd/migrate.go
  server/internal/data/mailer/mailer.go
  server/internal/data/pushnotifications/notify.go
  server/internal/infrastructure/migrator/migrator.go
  server/internal/server/handlers/validate.go
  server/internal/server/middleware/logger.go
  server/internal/server/server.go
  server/migrations/migrations.go
Due: test_lint_server, build_server

feat(server): embed static files into binary
  server/.air.toml
  server/internal/server/routes.go
  server/static/static.go
Due: test_lint_server, build_server

fix: set correct version number (was outdated)
  app/android/app/build.gradle
  app/ios/genesis/Info.plist
  app/package.json
  package.json
  server/internal/constants/version.go
Due: test_lint_app, test_lint_server, build_server

ci: push assets with updated version numbers to Git when making a new release
  .releaserc.js
Due: none

release: 0.2.0
  CHANGELOG.md
  app/android/app/build.gradle
  app/ios/genesis/Info.plist
  app/package.json
  package.json
  server/internal/constants/version.go
Due: test_lint_app, test_lint_server, build_server

docs: update year in license
  LICENSE
Due: none
